body, #mainWrapper {

	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:10px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
/*	display:inline-block; */
	padding-left: 20px;
}

#tbl {
	font-size:10px!important;
}

.generic-container {
	display:inline-block; 
/* width:80%; */
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

  .custom-width {
    width: 180px !important;
}
